body {
    background: url("../images/subway.jpg")
}


.jumbotron {
    width: 100%;
    margin: 0 auto;
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    border: 3px solid grey;
    font-size: 60px;
    font-family: 'Michroma', sans-serif;
    background: navy;
}

.card-header {
    font-family: 'Michroma', sans-serif;
    background: navy;
    color: whitesmoke;
}

.card {
    margin-top: 20px;
    border: 3px solid grey;
    border-radius: 10px;
    font-family: 'Michroma', sans-serif;

}

