body {
    background: url("../images/subwaytile.jpg")
}


.jumbotron {
    width: 100%;
    margin: 0 auto;
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    border: 6px solid grey;
    font-size: 60px;
    font-family: 'Michroma', sans-serif;
    background: #16202a;
    max-height: 275px;
}

.card-header {
    font-family: 'Michroma', sans-serif;
    background: #16202a;
    color: whitesmoke;
}

.card {
    margin-top: 20px;
    border: 6px solid grey;
    border-radius: 10px;
    font-family: 'Michroma', sans-serif;
    margin-bottom: 10px;
    background: whitesmoke
}

p {
    font-size: 30px;   
    margin-top: 30px; 
}


